.child {
  margin-top: 10%;
  max-width: 50%;
  margin: auto;
}

.error {
  color: red;
}

.input-div {
  margin-bottom: 3rem;
}
.reminder-div {
  background-image: linear-gradient(grey, rgb(187, 187, 218));
  color: rgb(237, 195, 195);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  position: relative;
}
.reminder-div h3 {
  text-align: center;
}
.reminder-div .dateTime {
  display: flex;
  justify-content: space-evenly;
}

.reminder-div .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.button {
  background-color: rgb(178, 191, 192);
  color: black;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.button:hover {
  background-color: blue;
  color: rgb(213, 202, 202);
}
.clear {
  margin: 5% 0 5% 45%;
}
.clear:hover {
  background-color: red;
}
.wrapper {
  margin-top: 5%;
}
#form-heading {
  text-align: center;
}
.reminders {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.reminder-col {
  min-width: 40%;
}
.remin-heading {
  text-align: center;
}
